@tailwind base;
@tailwind components;
@tailwind utilities;

.slider .slick-next {
  right: 50px;
  z-index: 1;
}

.slider .slick-prev {
  left: 50px;
  z-index: 1;
}

.slick-arrow::before {
 
  font-size: 35px !important;
  color:white!important;
  background-color: black !important;
  border-radius: 50% !important;
  background-size: cover !important;
}

.Link:focus{
  color:red;
}
video{
  height: calc(100vh - 90px) !important;
}

@media only screen and (max-width: 700px) {
  video{
    height:auto !important;
  }
}
/* .slider .slick-prev{
     left: 100px;
     z-index:1;
   }
   .slider .slick-prev::before{
    font-size: 35px;
    color: black;
   }
   
  .slider .slick-next:before{
    font-size: 35px;
    color: black;
   } */
   .navbar {
    overflow: hidden;
    
    position: fixed;
    top: 0;
    
    z-index:1;
  }
  
  
  